*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    
    height: 95px;
    width: auto;
    background-color: #161D6E;/*F2F5FF*/
    color:#fff;
}
.container{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_heading{
    text-transform: uppercase;
    margin-right:19rem;
    margin-top: -10px;
    font-size: 20px;
    font-family: serif;
    word-spacing: 0.4rem;
    text-align: center;
}

/*.ul-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}*/
.logo img{
    
    height:90px;
    width: 90px;
    margin-left: -12rem;
    margin-top: -0.5rem;
   
}
.navbar_heading p{
    font-size: 17px;
    line-height: 0.5rem;
}





