.side-container{
    width:21rem;
    background-color: #0C134F;
    height: 100vh;
    /*border-right: 2.5px solid rgb(179, 179, 179);*/
    /*border-radius: 5px;*/
}

.sidebar{
    margin-top: 7rem;
}

.icons{
    list-style:  none;
    padding: 2rem;
    height: 2rem;
    margin: 20px 0px 0px 15px;
    width: 17rem;
    text-align: center;
    color:#fff;
    font-weight: 500;
    border-radius: 40px;
    background-color: #1D267D;
}
.icons > li{
    margin-top: -0.8rem;
}

.icons:hover{
    background-image: linear-gradient(140deg,#EFFFFD,#8CA7FF); /*#42C2FF*/
    transition: all 300ms;
    border-radius: 0.3rem;
    cursor: pointer;
    color:#5469EE;
}
