*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.legend{
    height: 56px;
    width: auto;
    
    margin-top: 51.5px;
    margin-left: -2rem;
    margin-bottom: 0;
    background-color: #161D6E;
    color:#fff;
    text-align: center;
    width: 172vh;
   
}
.iconflex{
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 30px;
}
.icon-content{
    display: flex;
    gap:0.3rem;
    margin-top: 10px;
}
.icon-content > p{
   
}